.user-preview-container {
  display: flex;
  gap: 10px;
}

.user-preview-container img {
  background-color: var(--avatar-bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.user-preview-container > div {
  display: flex;
}

.user-preview-no-name,
.user-preview-name {
  text-decoration: none;
  font-size: 0.9rem;
}

.user-preview-no-name {
  color: var(--style-color-3);
}

.user-preview-name {
  color: var(--style-color-2);
}

.user-preview-name:hover {
  color: var(--style-color-1-shade);
}
