.summary-container {
  display: flex;
  gap: var(--general-padding);
}

.avatar {
  background-color: var(--avatar-bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  height: 200px;
  border-radius: 10px;
}
