.user-preview-container {
  display: flex;
  gap: 10px;
}

.user-preview-container img {
  background-color: #ddd;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 60px;
  border-radius: 10px;
}

.user-preview-container > div {
  display: flex;
}

.user-preview-name {
  text-decoration: none;
  color: #4191e1;
  font-size: 0.9rem;
}

.user-preview-name:hover {
  color: #4161e1;
}
