.page,
.menu-page-menu,
.menu-page-inner {
  padding-top: var(--general-padding);
}

.page,
.menu-page {
  display: flex;
  justify-content: center;
  align-items: start;

  max-width: calc(var(--max-width) + 2 * var(--general-padding));
  margin: 0 auto;
}

.page {
  min-height: calc(100vh - var(--navbar-height));
}

.menu-page-menu {
  display: var(--first-breakpoint-display);
  position: sticky;
  top: var(--navbar-height);
  width: var(--side-menu-width);
  padding-left: var(--general-padding);
  padding-bottom: var(--general-padding);
}

.menu-page-inner {
  display: flex;
  flex-grow: 1;
  border-left: 1px solid var(--border-color);
  padding: var(--general-padding);
  min-height: calc(100vh - var(--navbar-height));
}
