.menu-item {
  text-decoration: none;
  color: var(--text-color-2);

  font-size: 0.8rem;

  padding: 8px 10px;
}

.menu-item-active {
  background-color: var(--bg-color-shade);
  border-right: 3px solid var(--style-color-1);
}
