.sign-up-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.sign-up-container form h1 {
  font-size: 1.4rem;
  color: #333;
}
