.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 20px;
}

.logo-large {
  display: var(--first-breakpoint-display);
}

.logo-small {
  display: var(--second-breakpoint-display);
}
