.navbar-user-container {
  margin-left: auto;
  display: flex;
  gap: 4px;
}

.navbar-user-no-avatar {
  aspect-ratio: 1;
}

.navbar-user-container img {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
}

.log-out {
  font-size: 12px;
}
