.navbar-menu-icon {
  display: var(--second-breakpoint-display);
  cursor: pointer;
  font-size: 30px;
}

.navbar-menu-icon i {
  display: var(--second-breakpoint-display);
  color: var(--style-color-1);
  margin: 7px;
}
