.navbar {
  position: fixed;

  background-color: #efefef;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  width: 100vw;
  height: var(--navbar-height);
}

.navbar-top {
  background-color: #4169e1;
  width: 100%;
  height: var(--navbar-border-height);
}

.navbar-inner {
  display: flex;

  max-width: 1064px;
  height: calc(var(--navbar-height) - var(--navbar-border-height));
  margin: 0 auto;
  padding: 8px 20px;
  gap: 10px;
}
