.navbar-user-container {
  margin-left: auto;
  display: flex;
  gap: 4px;
}

.navbar-user-no-avatar {
  aspect-ratio: 1;
}

.navbar-user-container img {
  background-color: var(--avatar-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: var(--navbar-avatar-size);
  width: var(--navbar-avatar-size);
}

.log-out {
  font-size: 12px;
}
