.navbar-links-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbar-links-button {
  display: var(--first-breakpoint-display);
  font-size: 14px;
  text-decoration: none;
  color: var(--text-color-2);

  padding: 8px;
}

.navbar-links-button:hover {
  color: var(--style-color-1);
}

.navbar-links-button:active {
  color: var(--style-color-3);
}
