.navbar-no-user-container {
  margin-left: auto;
  display: flex;
  gap: 4px;
}

.navbar-no-user-link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  min-width: 60px;
}
