.page,
.menu-page-menu,
.menu-page-inner {
  padding-top: 20px;
}

.page,
.menu-page {
  display: flex;
  justify-content: center;
  align-items: start;

  max-width: 1064px;
  margin: 0 auto;
}

.menu-page-menu {
  position: sticky;
  top: 53px;
  min-width: 181px;
  max-height: 300px;
  padding-left: 20px;
}

.menu-page-inner {
  display: flex;
  flex-grow: 1;
  border-left: 1px solid #bbb;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  min-height: calc(100vh - 53px);
}

@media screen and (max-width: 650px) {
  .menu-page-menu {
    display: none;
  }
}
